---
import homeDrawing from '../../assets/art/icons/Doodles_home.png';
import { sitePath } from '../../config/site';

const homeDrawingSrc = `${homeDrawing.src}${homeDrawing.src.includes('?') ? '&' : '?'}art=20260722`;
---

<a class="home-return" href={sitePath('/')} aria-label="Home">
  <span class="home-return__drawing" aria-hidden="true">
    <img
      src={homeDrawingSrc}
      alt=""
      width="512"
      height="512"
      decoding="async"
    />
  </span>
</a>
