---
import DevelopmentPlaceholder from '../../components/shell/DevelopmentPlaceholder.astro';
import HomeReturn from '../../components/shell/HomeReturn.astro';
import PaperSurface from '../../components/shell/PaperSurface.astro';
import WorldField from '../../components/shell/WorldField.astro';
import BaseDocument from '../../layouts/BaseDocument.astro';
---

<BaseDocument title="Blog | Igor Kupchinenko" description="Writing by Igor Kupchinenko.">
  <WorldField destination>
    <HomeReturn />
    <main id="main-content">
      <PaperSurface variant="notebook">
        <DevelopmentPlaceholder title="Blog" />
      </PaperSurface>
    </main>
  </WorldField>
</BaseDocument>
