---
import HomeMap from '../components/home/HomeMap.astro';
import WorldField from '../components/shell/WorldField.astro';
import BaseDocument from '../layouts/BaseDocument.astro';
---

<BaseDocument
  title="Igor Kupchinenko"
  description="Igor Kupchinenko's personal website."
>
  <WorldField>
    <main id="main-content">
      <HomeMap />
    </main>
  </WorldField>
</BaseDocument>
