---
import DevelopmentPlaceholder from '../../components/shell/DevelopmentPlaceholder.astro';
import HomeReturn from '../../components/shell/HomeReturn.astro';
import PaperSurface from '../../components/shell/PaperSurface.astro';
import WorldField from '../../components/shell/WorldField.astro';
import BaseDocument from '../../layouts/BaseDocument.astro';
---

<BaseDocument title="Work | Igor Kupchinenko" description="Software and game work by Igor Kupchinenko.">
  <WorldField>
    <HomeReturn />
    <main id="main-content">
      <PaperSurface>
        <DevelopmentPlaceholder title="Work" />
      </PaperSurface>
    </main>
  </WorldField>
</BaseDocument>
