---
import { sitePath } from '../../config/site';

const redirectTarget = `${sitePath('/')}#work`;
const canonicalURL = new URL(redirectTarget, Astro.site);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="robots" content="noindex" />
    <meta http-equiv="refresh" content={`0;url=${redirectTarget}`} />
    <link rel="canonical" href={canonicalURL} />
    <title>Redirecting to Work</title>
  </head>
  <body>
    <p><a href={redirectTarget}>Continue to Work</a></p>
  </body>
</html>
